<div fxLayout="column" fxFlexFill >
    <div>
        <app-geofence-management [GeoFenceNames]="GeoFenceNames" (loadGeoFenceOnMap)="loadGeoFenceOnMap($event)">
        </app-geofence-management>
    </div>
    <div class="map" id="map" class="match-parent"></div>
</div>
<div class="custm-dialog" fxLayout="column" fxFlexFill *ngIf="showDialog" fxLayoutAlign="center">
    <app-add-geofence fxFlex="50" fxFlexAlign="center" [data]="dialogData" (closeDialog)="closeDialog($event)">
    </app-add-geofence>
</div>
<div class="progress-loader" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>