<div fxLayout="column" class="main-container" fxLayoutGap="10px">
    <mat-toolbar color="primary">
        Choose a map for geofencing
    </mat-toolbar>
    <mat-list>
        <mat-list-item routerLink='/google-map'>
            <span class="material-icons">
                keyboard_arrow_right
            </span>
            Googlemap
        </mat-list-item>
        <mat-list-item routerLink='/mapbox'>
            <span class="material-icons">
                keyboard_arrow_right
            </span>
            Mapbox</mat-list-item>
    </mat-list>
</div>